{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="my-20 md:my-32 w-2/4 mx-auto shadow-md p-6 rounded-md">
  <h2 class="mt-10 mb-5 font-semibold font-mono text-lg md:text-xl lg:text-2xl text-center">
    Sign In to Your Account
  </h2>

  <form method="POST">
    {% csrf_token %}
    {{ form }}

    <div class="flex flex-col md:flex-row justify-between text-sm my-2 font-medium text-slate-500 dark:text-gray-300">
      <p>
        Not registered?
        <a href="{% url 'sign-up' %}" class="text-blue-700 hover:underline dark:text-blue-500">
          Create account
        </a>
      </p>
      <p>
        <a href="{% url "password-reset" %}" class="text-blue-700 hover:underline dark:text-blue-500">
          Forgot password?
        </a>
      </p>
    </div>

    <button class="bg-blue-500 px-3 py-1 rounded text-white mt-3" type="submit">
      Sign In
    </button>
  </form>
</div>
{% endblock content %}
