{% load static %}

<div>
  
  <div>
    <div class="text-center my-10">
      <h5 class="mb-4 text-3xl font-bold tracking-tight text-gray-500 dark:text-white"><span class="text-red-400">Eventure</span> Service </h5>
      <p>
      We make your events smart & impactful by personalised event management services.
      </p>
    </div>

  <div>

  <div class="flex justify-center md:justify-between gap-4 flex-wrap">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Wedding Events
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Sit amet consectetur elit sed lusm tempor incidant temdore ut labore dolore lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Wedding Events
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Sit amet consectetur elit sed lusm tempor incidant temdore ut labore dolore lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Wedding Events
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Sit amet consectetur elit sed lusm tempor incidant temdore ut labore dolore lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div>

</div>