{% extends "master.html" %}
{% load static %}
{% block title %}event details{% endblock  %}
{% block content %}
  <div class="my-20">
    <h5 class="mb-4 text-3xl text-center font-bold tracking-tight text-gray-500 dark:text-white">
      <span class="text-red-400">Event</span> Details
    </h5>
    <div class="my-10">
      <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
        <div class="md:col-span-4">
          {% if event.image %}
        <img src="{{ event.image.url }}" class="object-cover w-full h-1/2 max-h-96">
        {% else %}
        <img class="object-cover w-full h-1/2" src="{% static "images/bg-1.jpg" %}" alt=""/>
          />
        {% endif %}
          <h2 class="text-2xl text-gray-900 font-sans mt-3 mb-5 font-semibold">{{event}}</h2>
          <div class="my-2 flex justify-start md:justify-between gap-2 flex-wrap items-center">
              
            
            <div class="bg-red-300 px-2 py-1 rounded-md">
              <p class="text-center font-semibold flex flex-col"><span>Date</span> <span class=" font-mono font-semibold ">{{event.date}}</span></p>
            </div>
            <div class="bg-red-300 px-2 py-1 rounded-md">
              <p class="font-semibold text-center flex flex-col"><span>Time</span> <span class=" font-mono font-semibold ">{{event.time}}</span></p>
            </div>
            <div class="bg-red-300 px-2 py-1 rounded-md">
              <p class=" text-center flex flex-col font-semibold"><span>Total Participant</span> <span class="font-mono">{{event.participant.count}}</span></p>
            </div>
            <div class="bg-red-300 px-2 py-1 rounded-md">
              <p class="flex text-center font-semibold flex-col"><span>Category</span> <span class="font-mono ">{{event.category}}</span></p>
            </div>
            <div class="bg-red-300 px-2 py-1 rounded-md">
              <p class="flex text-center flex-col font-semibold"><span>Location</span> <span class="font-mono ">{{event.location}}</span></p>
            </div>  
          </div>
          <div class="mt-7">
            <h3 class="text-lg font-sans font-semibold text-gray-900">Description:</h3>
            <p class="text-gray-700 mt-3">{{event.description}}</p>
          </div>
        </div>
        <div class="col-span-2 ">
          <div class="flex justify-end">
          {% if request.user.groups.first.name == "Participant" %}
          {% if request.user in event.participant.all %}
            <button class="text-slate-800 bg-red-200 dark:bg-red-300 cursor-not-allowed font-medium rounded-lg text-sm px-2 py-1 text-center flex items-center gap-1" disabled>
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0 0 48 48">
                <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#ccff90" d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"></path>
                </svg> RSVP'd
            </button>
          {% else %}
            <a href="{% url 'rsvp-event' event.id %}">
              <button class="text-white bg-red-500 hover:bg-red-600 px-2 py-1 rounded-md">
                RSVP
              </button>
            </a>
          {% endif %}
          {% endif %}
          </div>
          <h3 class="text-lg font-medium text-gray-900 dark:text-white">Participant Name:</h3>
            
            
          <ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">
      {% for participant in event.participant.all %}
      <li class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg class="shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
        </svg>
       <span>{{participant}}</span>
      </li>
{% endfor %}
</ul>

        </div>
      </div>
    </div>

  </div>
{% endblock  %}