{% extends "base.html" %}
{% block title %}No Permission{% endblock title %}
{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen text-center">
  <h2 class="text-3xl font-bold text-blue-500">Access Denied</h2>
  <p class="text-gray-600 dark:text-gray-400 mt-2">
      You do not have permission to access this page.
  </p>
  <p class="text-gray-500 dark:text-gray-400 mt-1">
      Please contact the administrator if you believe this is a mistake.
  </p>
  <a href="{% url 'home' %}" class="mt-4 bg-blue-300 hover:bg-blue-400 px-4 py-2 rounded-md text-white font-semibold">
      Go Back to Home
  </a>
</div>

{% endblock content %}