{% extends "master.html" %}
{% block title %}all events{% endblock  %}
{% block content %}
<div class="my-2 flex justify-between flex-wrap gap-2">
  {% for event in totalEvent %}
  <div class="my-2 shadow-md rounded-md px-2">
    <p class="text-xl py-2">{{event}}</p>
  <a href="{% url "event-details" event.id %}" class =" bg-orange-100 p-2 rounded-md "> Event details{{ event.id }}</a>
  <div class="my-2 flex items-end justify-end gap-2">
    <form action="{% url "event-update" event.id %}" method="POST">
      {% csrf_token %}
       <button type="submit" class =" bg-blue-400 p-2 rounded-md ">Edit</button>
      </form>

      <form action="{% url "event-delete" event.id %}" method='POST'>
        {% csrf_token %}
        <button type='submit' class="bg-red-400 py-1">Delete</button>
      </form>
  </div>
  </div>
  
  
  {% endfor %}
</div>
{% endblock  %}