{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.css" rel="stylesheet" />

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}
  <section class="max-w-7xl mx-auto">
    {% block content %}{% endblock  %}
  </section>

  {% include "home/footer.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
</body>
</html>