{% load static %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-white dark:bg-gray-800">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
   
   <thead class="text-xs text-gray-700 uppercase  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
       <tr>
           <th scope="col" class="px-6 py-3">
               Name
           </th>
           <th scope="col" class="px-6 py-3">
               description
           </th>
           <th scope="col" class="px-6 py-3">
               <span class="sr-only">Action</span>
           </th>
       </tr>
   </thead>
   <tbody>
     {% for category in categorys %}
       <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
           <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
               {{category.name}}
               
             </th>
           <td class="px-6 py-4">
               {{category.description}}
           </td>           <td class="px-6 py-4 text-right">
             <div class="flex gap-2 items-center justify-end">
               <form action="{% url "update-category" category.id %}" method="POST">
                 {% csrf_token %}
                   <button type="submit" class="text-white bg-blue-900 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-700 font-medium rounded-md px-3 py-1.5 transition-colors duration-300">Edit</button>
                 </form>
           
                 <form action="{% url "delete-category" category.id %}" method='POST'>
                   {% csrf_token %}
                   <button type='submit' class="text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 font-medium rounded-md px-3 py-1.5 transition-colors duration-300">Delete</button>
               </form>
             </div>
           </td>
       </tr>
       {% endfor %}
   </tbody>
</table>
</div>    
</div>