{% load static %}
<div class="my-10">
  <h5 class="mb-6 text-2xl font-semibold text-start text-gray-800 dark:text-white">
    All Roles
  </h5>
  <div class="relative overflow-x-auto shadow-lg sm:rounded-xl">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-gray-100 dark:bg-gray-800 dark:text-white">
        <a href="{% url 'create-role' %}" class="bg-primary hover:bg-hover text-white focus:ring-4 focus:outline-none focus:ring-error font-medium rounded-lg text-sm px-4 py-2 text-center shadow-lg transition-all duration-300">
          Create Role
        </a>
      </caption>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 text-left">
            Name
          </th>
          <th scope="col" class="px-6 py-3 text-left">
            Description
          </th>
          <th scope="col" class="px-6 py-3 text-left">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
            {{ group.name }}
            <a href="{% url 'role-details' %}" class="bg-secondary hover:bg-hover text-black px-2 py-1 rounded-md transition-all duration-300">
              Details
            </a>
          </th>
          <td class="px-6 py-4">
            {% for permission in group.permissions.all|slice:":7" %}
              <span class="px-1 inline-block text-sm text-gray-600 dark:text-gray-300">{{ permission.codename|slice:"0:50" }}</span>
            {% empty %}
              <span class='text-gray-400 italic'>No permissions assigned</span>
            {% endfor %}
            {% if group.permissions.count > 7 %}
              <span class="text-gray-400">...</span>
            {% endif %}
          </td>
          <td class="px-6 py-4 text-right">
            <div class="flex gap-4 items-center justify-end">
              <form action="{% url 'update-rolePermission' group.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-md px-4 py-2 transition-colors duration-300">
                  Edit
                </button>
              </form>

              <form action="{% url 'role-delete' group.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-md px-4 py-2 transition-colors duration-300">
                  Delete
                </button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
