{% load static %}
<div class="my-8">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-white dark:bg-gray-800">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Number
            </th>
            <th scope="col" class="px-6 py-3">
                Username
            </th>
            <th scope="col" class="px-6 py-3">
                Email
            </th>
            <th scope="col" class="px-6 py-3">
                Userid
            </th>
            <th scope="col" class="px-6 py-3">
              Current Role	
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Action</span>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{forloop.counter}}
            </th>
            <td class="px-6 py-4">
              {{user.username}}
            </td>
            <td class="px-6 py-4">
              {{user.email}}
            </td>
            <td class="px-6 py-4">
                {{user.id}}
            </td>
            <td class="px-6 py-4">
                {{user.groups.all.first}}
            </td>            <td class="px-6 py-4">
              <div class="flex gap-2 items-center justify-end">
                <form action="{% url "change-role" user.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="text-white bg-blue-900 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-700 font-medium rounded-md px-3 py-1.5 transition-colors duration-300 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                    </svg>
                    Change Role
                  </button>
                </form>
              </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>