<div class="my-10">
  <h5 class="mb-4 text-xl text-start font-bold tracking-tight text-gray-500 dark:text-white">
    <span class="">All User
  </h5>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Number
            </th>
            <th scope="col" class="px-6 py-3">
                Username
            </th>
            <th scope="col" class="px-6 py-3">
                Email
            </th>
            <th scope="col" class="px-6 py-3">
                Userid
            </th>
            <th scope="col" class="px-6 py-3">
              Current Role	
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Action</span>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{forloop.counter}}
            </th>
            <td class="px-6 py-4">
              {{user.username}}
            </td>
            <td class="px-6 py-4">
              {{user.email}}
            </td>
            <td class="px-6 py-4">
                {{user.id}}
            </td>
            <td class="px-6 py-4">
                {{user.groups.all.first}}
            </td>
            <td class="px-6 py-4 text-right">
              <div class="flex gap-4 items-center">
                <form action="{% url "change-role" user.id %}" method="POST">
                  {% csrf_token %}
                    <button type="submit" class =" text-black bg-green-400 px-2 py-1 rounded-md ">Change role</button>
                  </form>
              </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>