<div class="grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-6">
  <!-- Total Participants -->
  <div class="bg-red-200 p-6 rounded-2xl text-center shadow-lg transition-transform hover:scale-105">
    <h2 class="text-xl text-gray-800 font-bold">Total Participants</h2>
    <h3 class="font-mono text-gray-700 text-2xl font-semibold mt-2">{{total_participants}}</h3>
  </div>

  <!-- Total Events -->
  <div class="bg-green-200 p-6 rounded-2xl text-center shadow-lg transition-transform hover:scale-105">
    <h2 class="text-xl text-gray-800 font-bold">Total Events</h2>
    <h3 class="font-mono text-gray-700 text-2xl font-semibold mt-2">{{total_events}}</h3>
  </div>

  <!-- Upcoming Events -->
  <div class="bg-blue-200 p-6 rounded-2xl text-center shadow-lg transition-transform hover:scale-105">
    <h2 class="text-xl text-gray-800 font-bold">Upcoming Events</h2>
    <h3 class="font-mono text-gray-700 text-2xl font-semibold mt-2">{{upcoming_events}}</h3>
  </div>

  <!-- Past Events -->
  <div class="bg-yellow-200 p-6 rounded-2xl text-center shadow-lg transition-transform hover:scale-105">
    <h2 class="text-xl text-gray-800 font-bold">Past Events</h2>
    <h3 class="font-mono text-gray-700 text-2xl font-semibold mt-2">{{past_events}}</h3>
  </div>
</div>