<div class="my-10">
  <h5 class="mb-4 text-xl text-start font-bold tracking-tight text-gray-500 dark:text-white">
    <span class="">All Events
  </h5>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
    <a href="{% url "create-event" %}" class="bg-primary hover:bg-hover text-white focus:ring-4 focus:outline-none focus:ring-error font-medium rounded-lg text-sm px-4 py-2 text-center shadow-lg transition-all duration-300">Create Event </a>
</caption>
  <thead class="text-xs text-gray-700 uppercase  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Event Name
            </th>
            <th scope="col" class="px-6 py-3">
                Location
            </th>
            <th scope="col" class="px-6 py-3">
                Category
            </th>
            <th scope="col" class="px-6 py-3">
                Date
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Action</span>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{event.name}}
                <p class="text-sm mt-2"><a href="{% url "event-details" event.id %}" class =" bg-secondary hover:bg-hover text-black px-2 py-1 rounded-md transition-all duration-300">details</a></span></p>
            </th>
            <td class="px-6 py-4">
                {{event.location}}
            </td>
            <td class="px-6 py-4">
                {{event.category}}
            </td>
            <td class="px-6 py-4">
                {{event.date}}
            </td>
            <td class="px-6 py-4 text-right">
              <div class="flex gap-4 items-center">
                <form action="{% url "event-update" event.id %}" method="POST">
                  {% csrf_token %}
                    <button type="submit" class =" text-black bg-green-400 px-2 py-1 rounded-md ">Edit</button>
                  </form>
            
                  <form action="{% url "event-delete" event.id %}" method='POST'>
                    {% csrf_token %}
                    <button type='submit' class="bg-blue-500 py-1 px-2 rounded-md text-white">Delete</button>
                </form>
              </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>