{% extends "base.html" %}
{% load static %}
{% block title %}Role Details{% endblock title %}
{% block content %}
<div class="my-10 mx-auto max-w-6xl">
  <h5 class="mb-6 text-4xl font-extrabold text-gray-900 dark:text-white text-center">
    All Roles
  </h5>

  <div class="relative overflow-x-auto bg-white dark:bg-gray-900 shadow-lg rounded-xl border border-gray-200 dark:border-gray-700">
    <div class="p-5 bg-gradient-to-r from-red-600 to-red-700 text-center rounded-t-xl text-white">
      <a href="{% url 'create-role' %}"
        class="bg-primary hover:bg-hover text-white focus:ring-4 focus:outline-none focus:ring-error font-medium rounded-lg text-sm px-4 py-2 text-center shadow-lg transition-all duration-300 ease-in-out">
        Create Role
      </a>
    </div>
    <table class="min-w-full text-sm text-left text-gray-700 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-300">
        <tr>
          <th scope="col" class="px-6 py-3 border-b border-gray-200 dark:border-gray-700">Name</th>
          <th scope="col" class="px-6 py-3 border-b border-gray-200 dark:border-gray-700">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 transition-all duration-300">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ group.name }}
          </th>
          <td class="px-6 py-4">
            <ul>
              {% for permission in group.permissions.all %}
              <li class="px-2 py-1 text-sm text-gray-600 dark:text-gray-300 bg-gray-50 dark:bg-gray-700 rounded-md mb-2 transition-all duration-300 hover:bg-gray-200 dark:hover:bg-gray-600">
                {{ permission.codename }}
              </li>
              {% empty %}
              <span class="text-gray-400 italic">No permissions assigned</span>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
